:root {
    --body-bg-color: #fff;
    --primary-brand-color: deepskyblue;
    --secondary-brand-color: deeppink;
    --body-text-color: #999;
    --body-text-color-alt: #333;
    --primary-font: "Roboto", Helvetica, sans-serif;
    --site-max-width: 600px;
}
